div.hide{
display:none;
font-family: 'Roboto', sans-serif;
margin-left: 40px;
color:#ffffff;
}

div.contentcontainer{
background-color:rgba(112, 112, 112,0.5);
width: 100%; 
margin:auto;  
overflow:auto;
height:100%;

background-size: cover;	
margin-bottom: 50px; 
}

.item_to_choose{
	margin-top: 20px;
	margin-left: 10%;
        border-radius: 100px;	
}


.item_to_choose .items_style{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
	width: 250px;
	height: 500px;

	border:1px solid #333;
        background-color:#f1f1f1;
        border-radius:10px; 
        padding:16px;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px;

}



.item_to_choose img{
	 width: 250px;
	 height: 230px;
}

.item_to_choose #quantity{
	color: black;
       height: 40px; 	
}

.btn{
	background: #00FF00;
	color: 	#F0FFFF; 
	font: normal 16px Helvetica, sans-serif;
        border-radius:15px;

position: initial;	
  top: 25%;
  left: 50%;/*
  transform: translate(-50%, -50%);	
*/
}

.btn:hover{
	color: white; 
	background: #228B22; 
}

button.hidebutton{
display:none;
position: relative;
left: 0px;
bottom: 22px;
height:20px;
}

body.infobg{
	margin: 0;
	padding:0;
	background-image: url("InfoBackgroundjpg.jpg");
	height: 100%; 
	background-position: 50% -50%; 
	background-repeat: repeat-y;
	background-size: cover;	
}

a{
text-decoration: none;
color: #d82700;
}

h1.page-title{

margin: 30px;

}

button#hideadiv{
left:30px;
bottom:33px;

}

button#hideddiv{
left:30px;
bottom:33px;
}

h1.pageheading{
font-size:36px;
color:#FFFF;
font-family: 'Staatliches', cursive;
letter-spacing: 2px;
}

.subheading{
color:#FFFF;
font-family: 'Staatliches', cursive;
letter-spacing: 2px;
padding
}

ul.sublist{
	margin-left: 15px;
}

